<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>room - 中野の卒論研究</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div class="container">
    <!-- <h1 class="heading">test room</h1><br> -->
    <!-- <p class="note">
        Change Room mode (before join in a room):
        <a href="#">mesh</a> / <a href="#sfu">sfu</a>
      </p> -->
      <br><br>
    <div class="room">
      <dialog id="Dialog_1">
        <form method="dialog">
          <p><label>あなたの母語:
            <input type="text" id="select_1" onchange="inputChange_1()">
            <br><small>入力例）中国語、台湾語</small>
          </label></p>
          <menu>
            <button id="confirmBtn1" value="default" disabled>続ける</button>
            <!-- <button value="cancel">Cancel</button> -->
          </menu>
        </form>
      </dialog>

      <dialog id="Dialog_2">
        <form method="dialog">
          <p><label>自分の間違いについて：<br>
            <select id="select_2" onchange="inputChange_2()">
              <option></option>
              <option>どんなミスもびしばし指摘してください！</option>
              <option>細かいミスも指摘してほしいです！</option>
              <option>意味が伝わりにくければ指摘してください！</option>
            </select>
          </label></p>
          <menu>
            <button id="confirmBtn2" value="default" disabled>続ける</button>
            <!-- <button value="cancel">Cancel</button> -->
          </menu>
        </form>
      </dialog>

      <dialog id="Dialog_3">
        <form method="dialog">
          <p><label>自分の日本語レベル:
            <select id="select_3" onchange="inputChange_3()">
              <option></option>
              <option>JLPT N1（とてもよく理解できる）</option>
              <option>JLPT N2（結構理解できる）</option>
              <option>JLPT N3（ほぼ理解できる）</option>
              <option>JLPT N4（基本的な日本語がわかる）</option>
              <option>JLPT N5（基本的な日本語がほぼわかる）</option>
            </select>
          </label></p>
          <menu>
            <button id="confirmBtn3" value="default" disabled>完了</button>
            <!-- <button value="cancel">Cancel</button> -->
          </menu>
        </form>
      </dialog>

      <div>
        <!-- <video id="js-local-stream"></video> -->
        <div class="InitialData" id="loginUsers">◎参加者リスト</div><br><br>
        <div class="InitialData" id="ryugakusei">◎参加する留学生の情報<br></div>
        <span id="js-room-mode" hidden></span>
        <!-- <input type="text" placeholder="Room Name" id="js-room-id"> -->
        <br>
        <button id="js-join-trigger">参加</button>
        <button id="js-leave-trigger">退室</button>

      </div>

      <!-- <div class="remote-streams" id="js-remote-streams"></div> -->

      <div class="remote-streams" id="resultDiv">
        <div class="ichigo"></div>
      </div>

      <div>
        <div class="messages" id="js-sentfB">◎届いた指摘</div>
        <button id="js-goback" disabled>戻る</button>
        <button id="js-next" disabled>次へ</button>
        <div class="messages" id="js-messages">◎指摘欄</div>
        <div id="shitekiButton"><br>
        <label><input type="radio" name = "correct" value="remove">選択箇所は不要</label><br>
        <label><input type="radio" name = "correct" value="justcorrect">選択箇所のみ修正</label><br>
        <label><input type="radio" name = "correct" value="allcorrect">文全体を修正</label><br>
          <!-- <button id="js-remove-trigger">不要</button><br> -->
          <br><textarea name="text" id="js-local-text" style="width:200px; height:100px;" placeholder="選択箇所をどう訂正しますか？"></textarea><br>
          <button id="js-send-trigger" disabled>送る</button>
          <div id="checkresults"></div>
          </div>
        
      </div>
      
    </div>
    <br>
    <p class="meta" id="js-meta" hidden></p>
  </div>
</body>

  <script src="//cdn.webrtc.ecl.ntt.com/skyway-4.4.1.js"></script>
  <script src="javascripts/key.js"></script>

  <script type="text/javascript" src="javascripts/tiny_segmenter.js" charset="UTF-8"></script>

  <script src="javascripts/script.js"></script>

</html>